html {
  background-color: #000;
}

h1 {
  color: #99ffcc;
  text-align: center;
  color: #99ffcc;
  padding: 20px;
}

h3,
p {
  text-align: center;
  color: #fff;
}

button {
  cursor: pointer;
}

.Item {
  max-width: 500px;
  border: 1px solid #9966cc;
  display: flex;
  justify-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 10px;
}

.Cart {
  max-width: 500px;
  border: 1px solid #9966cc;
  display: flex;
  justify-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 10px;
}
